---
stages:
  - install
  - build
  - publish

variables:
  GO_VERSION: 1.20-alpine

include:
  - project: devops/pipes
    file: /templates/go-install.gitlab-ci.yml
  - project: devops/pipes
    file: /templates/go-lint.gitlab-ci.yml
  - project: devops/pipes
    file: /templates/semantic-release.gitlab-ci.yml
