{{- if $.Commands }}

{{ repeat $.Behead "#" }}## Global Flags
{{- end }}
{{- if $.GlobalFlags }}
  {{- range $category, $flags := $.GlobalFlags }}
      {{- if eq $category "EMPTY" }}
        {{- template "flags" $flags }}
      {{- end }}
  {{- end }}
  {{- range $category, $flags := $.GlobalFlags }}
    {{- if ne $category "EMPTY" }}

**{{ $category }}**
      {{- template "flags" $flags }}
    {{- end }}
  {{- end }}
{{- end }}
{{- if $.Commands }}

{{ repeat $.Behead "#" }}## Commands
  {{- range $v := $.Commands }}

{{ repeat $.Behead "#" }}###{{ repeat $v.Level "#" }} `{{ $v.Name }}`{{ range $a := $v.Aliases }}, `{{ $a }}`{{ end }}
    {{- if $v.Usage }}

{{ $v.Usage | trim }}
    {{- end }}
    {{- if $v.Description }}

{{ $v.Description | trim }}
    {{- end }}
    {{- if $v.Flags }}

{{ repeat $.Behead "#" }}####{{ repeat $v.Level "#" }} Flags
      {{- range $category, $flags := $v.Flags }}
        {{- if eq $category "EMPTY" }}
          {{- template "flags" $flags }}
        {{- end }}
      {{- end }}
      {{- range $category, $flags := $v.Flags }}
        {{- if ne $category "EMPTY" }}

**{{ $category }}**
          {{- template "flags" $flags }}
        {{- end }}
      {{- end }}
    {{- end }}
  {{- end }}
{{- end }}
{{- define "flags" }}

| Flag / Environment |  Description   |  Type    | Required | Default |
|---------------- | --------------- | --------------- |  --------------- |  --------------- |
{{- range $f := . }}
| {{ range $i, $name := $f.Name }}{{ if ne $i 0 }}<br />{{ end }}`{{ $name }}`{{ end }} | {{ regexReplaceAll `\n` ($f.Description | trim) "<br />" }} | `{{ $f.Type }}{{ if $f.Multiple }}[]{{ end }}`{{ if $f.Format }}<br/>`{{ $f.Format | trim }}`{{ end }} | `{{ $f.Required }}` | <code>{{ regexReplaceAll `\n` ($f.Default | trim) "<br />" }}</code> | {{- end }}
{{- end }}
