# {{ .App.Name }}

{{ .App.Description }}
{{- if .App.UsageText }}

`{{ .App.UsageText }}`
{{- else }}

`{{ .App.Name }} [GLOBAL FLAGS] command [COMMAND FLAGS] [ARGUMENTS...]`
{{- end }}
{{- if .GlobalFlags }}

## Global Flags

{{- range $category, $flags := $.GlobalFlags }}
{{- if ne $category "EMPTY" }}
##### {{ $category }}
{{- end}}
| Flag / Environment |  Description   |  Type    | Format | Required | Default |
|---------------- | --------------- | --------------- |  --------------- |  --------------- |
{{- range $f := $flags }}
| {{ StringsJoin $f.Name " " }} | {{ $f.Description }} |  {{ $f.Type }} | {{ $f.Format }} | {{ $f.Required }} | {{ $f.Default }} |
{{- end }}
{{- end }}
{{- if .Commands }}

## Commands
{{- range $v := .Commands }}

### `{{ $v.Name }}` {{ range $a := $v.Aliases }}, `{{ $a }}`{{ end }}
{{- if $v.Description }}

{{ $v.Description }}
{{- end }}
{{- if $v.Usage }}

`{{ $v.Usage }}`
{{- end }}

{{- if $v.Flags }}

#### Flags

{{- range $category, $flags := $v.Flags }}
{{- if ne $category "EMPTY" }}
##### {{ $category }}
{{- end}}
| Flag / Environment |  Description   |  Type    | Format | Required | Default |
|---------------- | --------------- | --------------- |  --------------- |  --------------- |
{{- range $f := $flags }}
| {{ StringsJoin $f.Name " " }} | {{ $f.Description }} |  {{ $f.Type }} | {{ $f.Format }} | {{ $f.Required }} | {{ $f.Default }} |
{{- end }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}
