{{- if $.Headline }}
{{ $.Prefix }}# {{ $.App.Name }}
  {{- if $.App.Description }}

{{ $.App.Description | trim }}
  {{- end }}

`{{ $.UsageText }}`
{{- end }}
{{- if $.GlobalFlags }}

{{ $.Prefix }}## {{ if $.Commands }}Global Flags{{ else }}Flags{{ end }}
  {{- template "flags" $.GlobalFlags }}
{{- end }}
{{- if $.Commands }}

{{ $.Prefix }}## Commands
{{- /* the newline opens the blank line that every entry of the list is then appended to */}}
  {{- if $.Toc }}{{ "\n" }}
    {{- range $c := $.Commands }}
{{ repeat $c.Indent "  " }}- [`{{ $c.Name }}`](#{{ $c.Anchor }})
    {{- end }}
  {{- end }}
  {{- range $category := $.CommandCategories }}
    {{- if $category.Name }}

{{ $.Prefix }}### {{ $category.Name }}
    {{- end }}
    {{- range $v := $category.Commands }}

{{ $.Prefix }}###{{ repeat $v.Level "#" }} `{{ $v.Name }}`{{ range $a := $v.Aliases }}, `{{ $a }}`{{ end }}
      {{- if $v.Usage }}

{{ $v.Usage | trim }}
      {{- end }}
      {{- if $v.Description }}

{{ $v.Description | trim }}
      {{- end }}

`{{ $v.UsageText }}`
      {{- if $v.Arguments }}

{{ $.Prefix }}####{{ repeat $v.Level "#" }} Arguments

| Argument | Usage | Type | Values |
| --- | --- | --- | --- |
        {{- range $a := $v.Arguments }}
| {{ if $a.Required }}**{{ mdcode $a.Name }}**\*{{ else }}{{ mdcode $a.Name }}{{ end }} | {{ mdcode $a.Usage }} | {{ mdcode $a.Type }} | {{ mdcode $a.Values }} |
        {{- end }}
        {{- range $n := $v.ArgumentNotes }}

{{ $n }}
        {{- end }}
      {{- end }}
      {{- if $v.Flags }}

{{ $.Prefix }}####{{ repeat $v.Level "#" }} Flags
        {{- template "flags" $v.Flags }}
      {{- end }}
    {{- end }}
  {{- end }}
{{- end }}

{{- /* Renders every category of a set of flags as a table of its own. */ -}}
{{- define "flags" }}
  {{- range $category := . }}
    {{- if $category.Name }}
      {{- if $category.Collapsed }}

<details>
<summary>{{ $category.Name }}</summary>
      {{- else }}

**{{ $category.Name }}**
      {{- end }}
    {{- end }}

| Flag / Environment | Description | Type | Default |
| --- | --- | --- | --- |
    {{- range $f := $category.Flags }}
| {{ template "flag-name" $f }} | {{ mdcell $f.Description }} | {{ if $f.Multiple }}{{ mdcode (print $f.Type "[]") }}{{ else }}{{ mdcode $f.Type }}{{ end }}{{ if $f.Format }}<br/>{{ mdcode $f.Format }}{{ end }} | {{ mdcode $f.Default }} |
    {{- end }}
    {{- range $n := $category.Notes }}

{{ $n }}
    {{- end }}
    {{- if and $category.Name $category.Collapsed }}

</details>
    {{- end }}
  {{- end }}
{{- end }}

{{- /* Renders the names of a flag, where a required one is bold and carries a trailing marker. */ -}}
{{- define "flag-name" -}}
  {{- $f := . -}}
  {{- range $i, $n := $f.Name }}{{ if $i }}<br/>{{ end }}{{ if $f.Required }}**{{ mdcode $n }}**{{ else }}{{ mdcode $n }}{{ end }}{{ end }}
  {{- if $f.Required }}\*{{ end }}
  {{- if $f.Group }} {{ $f.Group }}{{ end }}
{{- end }}
