# {{ $.App.Name }}

{{ $.App.Description }}
{{- if $.App.UsageText }}

`{{ $.App.UsageText }}`
{{- else }}

`{{ $.App.Name }}{{ if $.Commands }} [GLOBAL FLAGS] [COMMAND]{{ end }} [FLAGS]`
{{- end }}
{{- if $.GlobalFlags }}
{{- if $.Commands }}

## Global Flags
{{- else }}

## Flags
{{- end }}
  {{- range $category, $flags := $.GlobalFlags }}
      {{- if eq $category "EMPTY" }}
        {{- template "flags" $flags }}
      {{- end }}
  {{- end }}
  {{- range $category, $flags := $.GlobalFlags }}
    {{- if ne $category "EMPTY" }}

**{{ $category }}**
      {{- template "flags" $flags }}
    {{- end }}
  {{- end }}
{{- end }}
{{- if $.Commands }}

## Commands
  {{- range $v := $.Commands }}

###{{ repeat $v.Level "#" }} `{{ $v.Name }}`{{ range $a := $v.Aliases }}, `{{ $a }}`{{ end }}
    {{- if $v.Usage }}

{{ $v.Usage | trim }}
    {{- end }}
    {{- if $v.Description }}

{{ $v.Description | trim }}
    {{- end }}
    {{- if $v.Flags }}

####{{ repeat $v.Level "#" }} Flags
      {{- range $category, $flags := $v.Flags }}
        {{- if eq $category "EMPTY" }}
          {{- template "flags" $flags }}
        {{- end }}
      {{- end }}
      {{- range $category, $flags := $v.Flags }}
        {{- if ne $category "EMPTY" }}

**{{ $category }}**
          {{- template "flags" $flags }}
        {{- end }}
      {{- end }}
    {{- end }}
  {{- end }}
{{- end }}
{{- define "flags" }}

| Flag / Environment |  Description   |  Type    | Required | Default |
|---------------- | --------------- | --------------- |  --------------- |  --------------- |
  {{- range $f := . }}
| {{ range $i, $name := $f.Name }}{{ if ne $i 0 }}<br/>{{ end }}`{{ $name }}`{{ end }} | {{ regexReplaceAll `\n` ($f.Description | trim) "<br />" }} | `{{ $f.Type }}{{ if $f.Multiple }}[]{{ end }}`{{ if $f.Format }}<br/>`{{ $f.Format | trim }}`{{ end }} | `{{ $f.Required }}` | `{{ $f.Default | trim }}` |{{- end }}
{{- end }}
